.underline {
    text-decoration: none; 
    position: relative; 
  }

.underline:after{
    position: absolute;
    content: '';
    height: 4px;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5px;
    background: #e12454;
}

.underline:hover:after {
    width: 80%;
    transition: 0.5s;
}