.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */
.container {
  width: 80%;
  margin: 0 auto;
}
.underline {
  text-decoration: none; 
  position: relative; 
}

.underline:after{
  position: absolute;
  content: '';
  height: 4px;
  width: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -5px;
  background: #e12454;
}

.underline:hover:after {
  width: 100%;
  transition: 0.5s;
}

.nav-link a{
  color: #e12454;
}
.custom-color{
  color: #e12454;
}
.custom-border-color{
  border-color: #e12454;
}
.custom-bg-color{
  background-color: #e12454;
}
.custom-btn {
  background: #e12454;
  color: white;
  border: 2px solid red;
  border-radius: 8px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: center; 
  
}

.custom-btn:hover{
  background-color: white;
  color: #e12454;
  transition: 0.2s;
}
.custom-border-btn {
  background: white;
  color: #e12454;
  border: 2px solid #e12454;
  border-radius: 8px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: center;
}

.custom-border-btn:hover{
  background-color: #e12454;
  color: white;
  transition: 0.2s;
}

